*{
    margin: 0;
    padding: 0;
    background-color: rgb(82, 161, 161);
}
.container{
    display:grid;
    grid-template-areas: "image image image title title" 
                           "content content content content content"
                           "content content content content content"
                           "fotter fotter fotter fotter fotter ";
height: 100vh;
border:2px solid black;
    }

.box1{

border:2px solid black;
grid-area:image;
background-color: rgb(147, 229, 229);
height: 33vh;
} 
.box2{
border:2px solid black;
grid-area:title;
background-color: rgb(65, 139, 139);
height: 33vh;
font-family:system-ui, '-apple-syste', 'BlinkMacSystemFont', 'Segoe UI';
text-align: end;
} 
h1{
text-align: end;
margin-top: 124px;
}
.imgC{
border-radius: 30px;
width: 70px;
width: 177px;
margin-left: 51px;
}
.box3{
grid-area: content;
border:2px solid black;
height:65vh;
}

p{
padding: 20px;
}

.box4{
grid-area: fotter;   
height:12vh;
align-content: last baseline;
}
ul{
margin-left:40px;
}

